<h2 mat-dialog-title>{{ isEdit ? 'Görevi Düzenle' : 'Yeni Görev Ekle' }}</h2>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Başlık</mat-label>
    <input matInput [(ngModel)]="todoData.title" name="title" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Açıklama</mat-label>
    <textarea matInput [(ngModel)]="todoData.description" name="description" rows="3"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>İptal</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!todoData.title.trim()">
    {{ isEdit ? 'Güncelle' : 'Ekle' }}
  </button>
</mat-dialog-actions>